/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

.header__menu-list {
  display: flex;
  gap: 22px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
}

.header__link_active {
  font-size: 18px;
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  font-family: Raleway;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header__address {
  max-width: 240px;
}

.cover {
  padding: 165px 50px 50px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  position: relative;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 130px;
  letter-spacing: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__title span {
  display: block;
}

.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #ffffff;
  z-index: 1;
  margin-top: 100px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 20px;
}

.bet-button {
  padding: 12px 32px;
  background-color: transparent;
  color: #ffffff;
  font-family: Raleway;
  font-style: Bold;
  text-decoration: none;
  border: 1px solid #ffffff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.card-link {
  height: 100%;
}

.lots {
  margin: 180px 24px 145px;
}

.lots__card-list-item {
  list-style: none;
  position: relative;
  width: 334px;
  height: 596px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  padding: 48px 40px;
  color: #ffffff;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  z-index: 1;
  text-decoration: underline;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  margin-top: 16px;
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  margin: 30px 0 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 24px;
  margin: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}

.about__logo-image {
  width: 136px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  padding: 110px 0 100px;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 160px 50px 80px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: right;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  width: 48px;
  height: 48px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
